Docura AI.json
{
  "name": "Docura AI",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1744,
        176
      ],
      "id": "36399a63-5cae-4e9a-83c2-82785d4adf42",
      "name": "Respond to Webhook1",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-notes",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        944,
        176
      ],
      "id": "e2820bb6-9df3-488a-825a-87ebe5e49373",
      "name": "Webhook1",
      "webhookId": "3f46a945-946d-4ca5-a3e1-58b7f942e562",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a professional study assistant.\n\nConvert the following extracted PDF content into clear, simple and well-structured study notes using Markdown.\n\nRules:\n• Use Markdown headers (e.g., #, ##) for sections\n• Use bullet points\n• Highlight key terms with **bold**\n• Keep it exam-ready\n\nPDF Content:\n\n{{$json[\"text\"]}}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1392,
        176
      ],
      "id": "8925d2f2-49cf-4c51-af8e-eb20bd5c4ec6",
      "name": "Message a model1",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "CqjYUFOA7REmOl4S",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1168,
        176
      ],
      "id": "b650dc5e-7a8f-4791-b24f-45f8c3a9bccc",
      "name": "Extract from File1",
      "alwaysOutputData": true,
      "retryOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "980ffcae-352b-43a5-9186-22d445167464",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b397d34794619c669355cab87de17ebab68741f1cfdaabcc43f52b93dd93974a"
  },
  "id": "f0EYdTsleqKAJSv0",
  "tags": []
}