Docura_Workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"notes\": \"{{ $json.content }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        848,
        64
      ],
      "id": "7f8fbb8a-ebdb-445a-bd90-4a0cab47d21e",
      "name": "Respond to Webhook",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-notes",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        48,
        64
      ],
      "id": "4e36ef1a-0c26-45f4-8601-27f9bd9d3307",
      "name": "Webhook",
      "webhookId": "3f46a945-946d-4ca5-a3e1-58b7f942e562",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a professional study assistant.\n\nConvert the following extracted PDF content into clear, simple and well-structured study notes using Markdown.\n\nRules:\n• Use Markdown headers (e.g., #, ##) for sections\n• Use bullet points\n• Highlight key terms with **bold**\n• Keep it exam-ready\n\nPDF Content:\n\n{{$json[\"text\"]}}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        496,
        64
      ],
      "id": "44407807-4047-4fe2-93a4-569b9cb50598",
      "name": "Message a model",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "CqjYUFOA7REmOl4S",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        272,
        64
      ],
      "id": "24f55238-cdcd-425a-a3fb-f2accd97f301",
      "name": "Extract from File",
      "alwaysOutputData": true,
      "retryOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "fabdd83b-3345-4e36-8aa1-791e1cc1da87",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b397d34794619c669355cab87de17ebab68741f1cfdaabcc43f52b93dd93974a"
  },
  "id": "f0EYdTsleqKAJSv0",
  "tags": []
}